<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Releases On Spotify</title>
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class = "container">
        <div id = "topbar" class = "jumbotron light-blue">
        </div>
    
        <table class = "center-table table table-hover">
                <tr>
                    <td></td>
                    <td>Album Art</td>
                    <td>Artist</td>
                    <td>Album Name</td>
                </tr>
                {% for item1, item2, item3, item4 in all_info %}
                <tr>
                    <td>{{ item3 }}</td>
                    <td> <img src = "{{ item4 }}"" height="128"></td>
                    <td>{{ item1 }}</td>
                    <td>{{ item2 }}</td>
                    <td> </td>
                </tr>
                {% endfor %}
        </table>
    </div>

</body>

<script type="text/babel">
    class Topbar extends React.Component {
        constructor(props) {
            super(props);
            this.state = {shown: true};
            this.handleClick = this.handleClick.bind(this);
        }

        handleClick(){
            this.setState(prevState => ({
                shown: !prevState.shown
            }));
        }

        render() {
            if (this.state.shown) {
                return (
                    <div>
                        <div onClick = {this.handleClick}>
                            <h1>New Releases On Spotify:</h1>
                        </div>
                        <div> 
                            <a href = "{%url 'main_page' username token%}" > <h3> Main Page </h3> </a>
                        </div>
                    </div>
                );
            } else {
                return  (
                    <div onClick = {this.handleClick}>
                        <h1>New Releases On Spotify:</h1>
                    </div>
                );
            }
        }
    }

    ReactDOM.render(<Topbar />, document.getElementById('topbar'));
</script>

</html>